
body{
	background: url("https://lh3.google.com/u/0/d/0B5MW2SLkVYMQZy1nWEtoUHN2alU=w1627-h841-iv1");
	color: #ff4000;
	background-size: cover;
	background-position: center;
}
header{
	text-align: center;
}
li{
	text-align: center;
}
img{
	text-align: center;
}
