
body{
	background: url("https://drive.google.com/file/d/0B50wN6Az37DoTWVBeklvMURnNGs/view?usp=sharing");
	color: #ff4000;
	background-size: cover;
}
header{
	text-align: center;
}
li{
	text-align: center;
}
img{
	text-align: center;
}

