
body{
	background: url("https://lh3.google.com/u/0/d/0B5MW2SLkVYMQMEZMNmRDV2J5LUk=w1935-h848-iv1");
	color: #ff4000;
	background-size: cover;
}
header{
	text-align: center;
}
li{
	text-align: center;
}
img{
	text-align: center;
}
#ffe808
