
body{
	background: url("https://lh3.google.com/u/0/d/0B5MW2SLkVYMQZy1nWEtoUHN2alU=w1627-h841-iv1");
	color: #ffe808;
	background-size: cover;
	background-position: center;
}
header{
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 0, 0, 1);
	text-align: center;
	line-height: 15px;
	padding: 10px;
	position: absolute;
}
li{
	text-align: center;
}
img{
	text-align: center;
}
